<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Lukas\QuickOrder\Api\Data\QuickInterface"
                type="Lukas\QuickOrder\Model\Quick"/>
    <preference for="Lukas\QuickOrder\Api\QuickRepositoryInterface"
                type="Lukas\QuickOrder\Repository\QuickRepository"/>
    <preference for="Rlab\Gift\Api\Model\Data\GiftSearchResultInterface"
                type="Magento\Framework\Api\Search\SearchResult"/>
</config>
