<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lukas_QuickOrder::parent"
             title="Lukas Quick Order"
             module="Lukas_QuickOrder"
             sortOrder="100"
             resource="Lukas_QuickOrder::all"
             parent="Magento_Sales::sales" />

        <add id="Lukas_QuickOrder::grid"
             title="LQO Orders"
             module="Lukas_QuickOrder"
             sortOrder="10"
             action="quick/order/index"
             resource="Lukas_QuickOrder::grid"
             parent="Lukas_QuickOrder::parent"/>

        <add id="Lukas_QuickOrder::status"
             title="LQO Statuses"
             module="Lukas_QuickOrder"
             sortOrder="20"
             action="quick/status/index"
             resource="Lukas_QuickOrder::status"
             parent="Lukas_QuickOrder::parent"/>
    </menu>
</config>
